---
import "../styles.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <the-logo></the-logo>
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>
  <p>
    A communi observantia non est recedendum. Phasellus laoreet lorem vel dolor
    tempus vehicula.
  </p>
  <p>This is an <em>em</em> element.</p>
  <p>This is a <a href="/">Link</a></p>

  <ul>
    <li>This is a list item</li>
    <li>This is a list item again</li>
    <ul>
      <li>This is a sub list</li>
    </ul>
  </ul>

  <p>To mark text: <mark>This is a highlight</mark></p>
  <br />
  <blockquote>This is a blockquote</blockquote>
  <hr />
  <the-button b_type="primary">Click Me</the-button>
  <br />
  <br />
  <the-button b_type="secondary">Click Me</the-button>
</Layout>
