---
import "@the-frozen-leaf/styles/styles.css";
import "../styles.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>The Frozen Leaf</title>
  </head>
  <body>
    <slot />
  </body>
  <script>
    import { TheLogo } from "@the-frozen-leaf/components/logo";
    import { TheButton } from "@the-frozen-leaf/components/button";
    customElements.define("the-logo", TheLogo);
    customElements.define("the-button", TheButton);
  </script>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 10px;
    background-color: var(--gray);
  }
</style>
